<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-apple-alt" size="3px"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Witaj Pacjencie</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <!--    <li class="nav-item active">-->
        <!--      <a class="nav-link" href="index.html">-->
        <!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
        <!--        <span>Panel dowodzenia grubaskami</span></a>-->
        <!--    </li>-->
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
               aria-controls="collapsePages">
                <i class="fas fa-users-cog" size="2px"></i>
                <span>Twoi Pacjenci </span>
            </a>
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item active" href="/"> Dodaj Pacjenta</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-carrot"></i>
                <span>Dieta</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/ingredient-register">Baza składników</a>
                    <a class="collapse-item" href="/meal-register">Posiłki</a>
                    <a class="collapse-item" href="/diet-registration">Plan żywieniowy</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-heartbeat"></i>
                <span>Wskazówki i uwagi</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Wyszukaj..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${dietician.name} + ' ' + ${dietician.lastName}"></span>
                            <!--              <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Wyloguj
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-800">Składniki</h1>
                        <form class="w-100" method="post" action="/ingredient-register">
                            <input type="text" class="form-control form-control-user" id="name" aria-describedby="nazwa"
                                   placeholder="Nazwa składnika" name="name">
                            <br>
                            <input type="number" class="form-control form-control-user" id="calories"
                                   aria-describedby="nazwa" name="calories"
                                   placeholder="Ilość kalorii">
                            <br>
                            <input type="number" class="form-control form-control-user" id="protein"
                                   aria-describedby="nazwa" name="protein"
                                   placeholder="Ilość białka w 100g">
                            <br>
                            <input type="number" class="form-control form-control-user" id="fats"
                                   aria-describedby="nazwa" name="fats"
                                   placeholder="Ilość tłuszczów w 100g">
                            <br>
                            <input type="number" class="form-control form-control-user" id="carbs"
                                   aria-describedby="nazwa" name="carbs"
                                   placeholder="Ilość węglowodanów w 100g">
                            <br>
                            <input type="number" class="form-control form-control-user" id="salt"
                                   aria-describedby="nazwa" name="salt"
                                   placeholder="Ilość błonnika w 100g">
                            <br>
                            <input type="number" class="form-control form-control-user" id="weight"
                                   aria-describedby="nazwa" name="weight"
                                   placeholder="Waga podanego składnika">
                            <br>
                            <input type="text" class="form-control form-control-user" id="category"
                                   aria-describedby="nazwa" name="category"
                                   placeholder="Kategoria">
                            <br>
                            <button class="btn btn-primary" type="submit">Dodaj</button>
                        </form>
                    </div>
                    <div class="col col-lg-8">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <h1 class="h3 mb-4 text-gray-800">Dostępne składniki :</h1>
                                </div>
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Wyszukaj składnik" aria-label="Search" name="search"
                                               aria-describedby="basic-addon2" id="search">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" href="/ingredient-register">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="w-100">
                            <tr>
                                <th>Nazwa składnika</th>
                                <th>Kalorie</th>
                                <th>Białka</th>
                                <th>Tłuszcze</th>
                                <th>Węgle</th>
                                <th>Błonnik</th>
                            </tr>
                            <th:block th:each="ingredient : ${ingredients}">
                                <tr>
                                    <td th:text="${ingredient.getName()}"></td>
                                    <td th:text="${ingredient.getCalories()}"></td>
                                    <td th:text="${ingredient.getProtein()}"></td>
                                    <td th:text="${ingredient.getFats()}"></td>
                                    <td th:text="${ingredient.getCarbs()}"></td>
                                    <td th:text="${ingredient.getSalt()}"></td>
                                </tr>
                            </th:block>
                        </table>
                        <br>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Już nas opuszczasz?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Czy na pewno chcesz się wylogować?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Zamknij</button>
                <a class="btn btn-primary" href="/logout">Wyloguj</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="admin/vendor/jquery/jquery.min.js"></script>
<script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="admin/js/sb-admin-2.min.js"></script>

</body>

</html>
