<!DOCTYPE html>
<html lang="pl">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Project Health</title>


</head>
<div class="form-group">

    <label>Nazwa użytkownika</label>

    <input type="email" required name="email" id="email" class="form-control" placeholder="Podaj e-mail"/> </div>
<div class="form-group">
                    <label for="firstName">Imię</label>
                    <input type="text" required name="name" id="firstName" class="form-control" placeholder="Podaj imię"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Nazwisko</label>
                    <input type="text" required name="lastName" id="lastName" class="form-control" placeholder="Podaj nazwisko"/>
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" required name="password" id="password" class="form-control" placeholder="Podaj hasło"/>
                </div>
                <button class="btn btn-primary" type="submit">Zarejestruj</button>
                <button class="btn btn-secondary" type="reset">Wyczyść dane</button>

            </form>
        </div>
        <div class="col-5"></div>
    </div>
</div>
</body>
</html>